[Desktop Entry]
Encoding=UTF-8
Name=Wispr
Comment=Wispr P2P Cryptocurrency
Comment[fr]=Wispr, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Wispr, eşten eşe kriptografik sanal para birimi
Exec=wispr-qt %u
Terminal=false
Type=Application
Icon=wispr128
MimeType=x-scheme-handler/wispr;
Categories=Office;Finance;
